{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}


{% block content %}
    <div class="notfound">
        <div class="oops">
            <h1>Oops!</h1>
            <h2>404 - Page not found</h2>
        </div>
        <div class="image">
            <img src="https://media1.tenor.com/images/ff7156df530dc50f32c5b9870e42f40b/tenor.gif?itemid=12450274" height="200px">
        </div>
        <div class="description">
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            <a href="{{url_for('home')}}">Go To Homepage</a>
        </div>
    </div>
{% endblock %}
